<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{ article().title }}</mat-card-title>
        @if (article().author) {
        <mat-card-subtitle>Author: {{ article().author }}</mat-card-subtitle>
        }
        <mat-card-subtitle>Published at: {{ article().publishedAt | date }}</mat-card-subtitle>
    </mat-card-header>
    @if (article().urlToImage) {
    <img mat-card-image [src]="article().urlToImage" [alt]="article().title">
    }
    <mat-card-content>
        <p>{{ article().description }}</p>
    </mat-card-content>
    @if (article().content) {
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="openNews()">Details</button>
    </mat-card-actions>
    }
</mat-card>