<div class="header">
    <h2 class="title">News</h2>
    <mat-form-field>
        <mat-label>Choose news category</mat-label>
        <mat-select [(value)]="selectedCategoryId" (selectionChange)="onCategoryChange($event)">
            @for (category of categories; track category.id) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>
<div class="cards-holder">
    @if (articles.length > 0) {
    @for (article of articles; track article) {
    <app-news-card [article]="article"></app-news-card>
    }
    } @else {
    Loading...
    }
</div>